*{
    margin: 0px;
    padding: 0px;
}   
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
}
.container{
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.leftpart{
    width: 40%;
}
h1{
    font-size: 50px;
}

h3{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.rightpart{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.loginpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff ;
    width: 450px;
    height: 370px;
    border: 2px solid #e6e6e6;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
}
input{
    width: 380px;
    height: 50px;
    margin: 10px 0px;
    padding: 0px 10px;
    outline: none;
    border: 1px solid #ccc;
    font-size: 18px;
    
}
input[type="submit"]{
    border-radius: 8px;
    background-color: rgb(62, 102, 224);
    color: white;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(40, 68, 151);
}
hr{
    border: 1px solid #ccc;
    width: 160px;
    margin: 0px 0px;
}
button{
    background-color: #e6e6e6;
    border: #e6e6e6;
}
span{
    margin: 20px 0px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}